@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

.dark body {
  background-color: rgb(17, 24, 39); /* Tailwind 的 gray-900 颜色 */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直居中内容 */
}

footer {
  margin-top: auto;
  width: 100%;
  max-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body, p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

p {
  margin-bottom: 1rem;
}

html {
  scroll-padding-top: 80px; /* Adjust this value based on your header height */
}

/* 新增的样式 */
@media (max-width: 767px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.nav-button {
  @apply flex items-center justify-center px-2 py-2 rounded transition-colors hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-600 dark:text-gray-300;
}
